<a href="https://colab.research.google.com/github/18K41A0536/assignment-2-Anitha/blob/master/assignment_2_25_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=float(input("enter number1"))
y=float(input("enter number 2:"))
z=float(input("enter number 3:"))
if(x+y>z):
  s=(x+y+z)/2
  n=(s*(s-x)*(s-y)*(s-z))**0.5
  print("the area of triangle:",round(n,3))
else:
  print("the triangle not possible:")

enter number12
enter number 2:3
enter number 3:4
the area of triangle: 2.905

1.given the lengths of three sides of  triangle,calculate the area of the triangle

2.take a string from end user and check if the value is palindrome or not?

In [ ]:
word=input("enter a string:")
if word==word[::-1]:
  print("enter string is palindrome",word)
else:
  print("not a palindrome",word)

enter a string:madam
enter string is palindrome madam

3.write a proram that reads a year from the user and display a message
indicating whether or not it is a leap year

In [ ]:
  year=int(input("enter a year"))   
  if year%4==0 and year%100!=0 or year%400==0:
    print("leap year",year) 
  else:
   print("not leap year")

enter a year1990
not leap year

4.take a string as input and replace spaces "" with hyphens"-", and return a string

In [ ]:
x=input("enter string:")
print(x.replace(' ','-'))

enter string:This program converts spaces into hyphen
This-program-converts-spaces-into-hyphen

5.	Unique Sort problem 
Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).
*Input*: orange, white, red, cyan, green, magenta, cyan, pink, white
*Output*: cyan, green, magenta, orange, pink, red, white

In [ ]:
l=input("enter string")
w=[w for w in l.split(",")]
print(",".join(sorted(list(set(w)))))

enter string orange, white, red, cyan, green, magenta, cyan, pink, white
 cyan, green, magenta, orange, pink, red, white

6.	Tax Calculator
Ask the user for their monthly salary. Calculate whether they have to pay tax and if so, how much is that amount .Print the result

In [ ]:
salary=float(input("enter your monthly salary"))
if salary<250000:
  print("there is no need to pay tax")
elif salary>=250001 and salary<=500000:
  tax=salary*(5/100)
  print("your tax amount is:",tax)
  total=salary+tax
  print("total amount is:",total)
elif salary>=500001 and salary<=750000:
  tax=salary*(10/100)
  print("your tax amount is:",tax)
  total=salary+tax
  print("total amount is:",total)
elif salary>=750001 and salary<=1000000:
  tax=salary*(15/100)
  print("your tax amount is:",tax)
  total=salary+tax
  print("total amount is:",total)
elif salary>=1000001 and salary<=1250000:
  tax=salary*(20/100)
  print("your tax amount is:",tax)
  total=salary+tax
  print("total amount is:",total)
elif salary>=1250001 and salary<=1500000:
  tax=salary*(25/100)
  print("your tax amount is:",tax)
  total=salary+tax
  print("total amount is:",total)
else:
  tax=salary*(30/100)
  print("your tax amount is:",tax)
  total=salary+tax
  print("total amount is:",total)

enter your monthly salary200000
there is no need to pay tax


7.	Take a list of integers as an argument, and converts it into a single integer (return the integer).
*Input*: [11, 33, 50]
*Output*: 113350

In [ ]:
l=[11,33,50]
for i in l:
  print(i,end='')

113350

In [ ]:
8.	Units of Time
Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. Compute and display the total number of seconds represented by this duration.

In [ ]:
secperminute=60
secperhour=3600
secperday=86400
days=int(input("enter number of days"))
hours=int(input("enter hours"))
min=int(input("enter min"))
sec=int(input("enter  sec"))
total=days*secperday
total=total+(hours*secperhour)
total=total+(min*secperminute)
total=total+sec
print("total","%d"%(total))

enter number of days5
enter hours36
enter min24
enter  sec15
total 563055

9.	Sort 3 Integers
Given three integers (given through user input), sort the numbers using |min| and  |max| functions.

In [ ]:
x = int(input("Input first number: "))
y = int(input("Input second number: "))
z = int(input("Input third number: "))
a1 = min(x, y, z)
a3 = max(x, y, z)
a2 = (x + y + z) - a1 - a3
print("Numbers in sorted order:",a1,a2,a3)

Input first number: 2
Input second number: 4
Input third number: 8
Numbers in sorted order: 2 4 8

10.	Write a program that reads a date from the user and computes its immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15 will have the successor 2020-04-16.

In [ ]:
year = int(input("Input a year: "))
if (year % 400 == 0):
    leap_year = True
elif (year % 100 == 0):
    leap_year = False
elif (year % 4 == 0):
    leap_year = True
else:
    leap_year = False

month = int(input("Input a month [1-12]: "))

if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30
day = int(input("Input a day [1-31]: "))

if day < month_length:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month += 1
print("The next date is [yyyy-mm-dd] %d-%d-%d." % (year, month, day))

Input a year: 2020
Input a month [1-12]: 8
Input a day [1-31]: 22
The next date is [yyyy-mm-dd] 2020-8-23.

11.	Compute product of a list of numbers [45 ,3,2,89,72,1,10,7]
Output: 121111200

In [ ]:
l=[45,3,2,89,72,1,10,7]
n=1
for i in range(len(l)):
  n=n*l[i]
print(n)

121111200

12.	Compute given Num_list =  [5, 6,8 ,34,89,1] to get desired output
Output: Out_list=[11,14,42,123,90]

In [ ]:
l=[5,6,8,34,89,1]
z=[]
for i in range(len(l)-1):
  ol=l[i]+l[i+1]
  z.append(ol)
print("list",z)

list [11, 14, 42, 123, 90]

13,Compute given Num_tuple =  (5, 6,8 ,3,9,1) to get desired output
Output: Out_list = [5, 30, 240, 720, 6480, 6480]

In [ ]:
l=(5,6,8,3,9,1)
Out_list=[]
Out_list.append(l[0])
for i in range(len(l)-1):
  m=Out_list[i]*l[i+1]
  Out_list.append(m)
print("out_list",Out_list)

out_list [5, 30, 240, 720, 6480, 6480]

14.Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2]

In [ ]:
x=input("enter number")
l=[]
for i in range(len(x)):
  l.append(x[i])
print(l)

enter number586392
['5', '8', '6', '3', '9', '2']

Write a program that finds the longest palindromic substring of a given string

In [ ]:
class Solution(object):
   def longestPalindrome(self, s):
      dp = [[False for i in range(len(s))] for i in range(len(s))]
      for i in range(len(s)):
         dp[i][i] = True
      max_length = 1
      start = 0
      for l in range(2,len(s)+1):
         for i in range(len(s)-l+1):
            end = i+l
            if l==2:
               if s[i] == s[end-1]:
                  dp[i][end-1]=True
                  max_length = l
                  start = i
            else:
               if s[i] == s[end-1] and dp[i+1][end-2]:
                  dp[i][end-1]=True
                  max_length = l
                  start = i
      return s[start:start+max_length]
ob1 = Solution()
print(ob1.longestPalindrome("GOOGLE"))

GOOG

16.Substring Check (Bug Funny)
Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.
First two lines of input:

1010110010          10110
1110111011           10011
First two lines of output:
1
0

In [ ]:
x=input("enter 1 string")
y=input("enter 2 string")
if y in x:
  print("1")
else:
  print("0")

enter 1 string1010110010
enter 2 string10110
1

In [ ]:
def gcd(a,b):

    if b==0: 

        return a 

    return gcd(b,a%b) 

def countsteps(a,b,c): 

    v1=b

    v2=0

    count=1

    while ((v1 is not c) and (v2 is not c)): 

        temp=min(v1,a-v2) 

        v2=v2+temp 

        v1=v1-temp 

        count=count+1

        if ((v2==c)or(v1==c)): 

            break

        if v1==0: 

            v1=b 

            count=count+1

        if v2==a: 

            v2=0

            count=count+1

    return count 

def ispossible(a,b,c): 

    if a>b: 

        temp=a 

        a=b 

        b=temp 

    if c>b: 

        return -1

    if (c%(gcd(b,a)) is not 0): 

        return -1

    return(min(countsteps(b,a,c),countsteps(a,b,c)))

t=int(input("Enter no of testcases : "))

for i in range(t):

  a=int(input("Enter capacity of vessel a : "))

  b=int(input("Enter capacity of vessel b : "))

  c=int(input("Enter capacity to be obtained :"))

  print("Minimum number of steps required is : ",ispossible(a,b,c))